a.aa:link {
	color: #228fbd;
text-decoration:none;

font-size :45px;
}
a.aa:visited {color: #228fbd;font-size :45px;}
a.aa:hover {color: red;font-size :45px;}
a.aa:active {color: blue;font-size :40px;}

body{
	background-color : #FFFFFF;
font-family : Microsoft YaHei;	
}

div.bb{
font-family : Microsoft YaHei;	
}